<!--<div class="ui demo page dimmer transition hidden"> -->
<!-- very light  /* active */ -->
<div class="ui page light dimmer transition" id="page-dimmer">
  <div class="content">
    <div class="center">


      <h2 class="ui inverted icon header">

        <div class="ui active light dimmer transition visible " style="display: flex !important;">
          <div id="page-dimmer-msg" class="ui loader slow orange medium elastic text">Wait a second, please...</div>
        </div>
        
        <!--
        <i class="user secret icon"></i>
        Impersonating
        <div class="sub header">Impersontating user</div>
        -->
        
      </h2>
    </div>
  </div>
</div>

