<% //  id,title,subtitle
   %>
<!-- Top Page -->
<div class="ui sixteen wide column secondary segment menu">
  
  <h2 class="ui header dash_header">
    <%- title -%>
    <div class="sub header"><%- subtitle -%> </div>
  </h2>
  
  <div class="right menu">

    <a class="item server-icon-popup"></a>

    <div class="item">
      <div id="start-process" class="ui small negative labeled icon button">
        <i class="recycle icon"></i>Start Process
      </div>
    </div>

    <div class="item">
      <div id="<%- id -%>-refresh-button" class="ui small positive labeled icon button">
        <i class="refresh icon"></i> Refresh
      </div>
    </div>
  </div>
</div>

<div class="ui basic modal" id="start-process-modal">
  <div class="ui icon header">
    <i class="settings icon"></i>
    Start the process
  </div>
  <div class="content">
    <p style="text-align:center;">Do you really want to start the process ?</p>
  </div>
  <div class="actions" style="text-align:center;">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>
