<% //  id,title,subtitle
   %>
<!-- Top Page -->
<div class="ui sixteen wide column secondary segment menu">
  <h2 class="ui header dash_header">
    <%- title -%>
    <div class="sub header"><%- subtitle -%> </div>
  </h2>
  
  <div class="right menu">
    
    <a class="item server-icon-popup">
    </a>

    <div class="item">
      <div id="<%- id -%>-clean-button" class="ui small orange labeled icon button">
        <i class="trash alternate icon"></i> Clear
      </div>
    </div>
    <div class="item">
      <div id="<%- id -%>-refresh-button" class="ui small positive labeled icon button">
        <i class="refresh icon"></i> Refresh
      </div>
    </div>
  </div>
</div>
