<% //  id,title,subtitle
   %>
<!-- Top Page -->
<div class="ui sixteen wide column secondary segment menu">
<!--
  <h2 class="ui header dash_header">
    <%- title -%>
    <div class="sub header"><%- subtitle -%> </div>
  </h2>
--> 
  <div class="">
  </div>

  <div class="right menu">    
    <div class="item">
      <div id="<%- id -%>-refresh-button" class="ui small positive labeled icon button">
        <i class="refresh icon"></i> Refresh
      </div>
    </div>
  </div>


</div>
