<% id = PAGE_ID,
   menu = MENU_ID,
   title= "Title",
   subtitle = "subtitle.",
   mdfilename = __filename
   ;
   
%><%- include ('../templates/partials/page-header-reload.ejs') %>

<div class="html ui top attached segment"  style="border:5px pink solid;" id="<%- id -%>-content"><%- menu -%>/<%- id -%></div>
