<% id = PAGE_ID,
   menu = MENU_ID,
   title= "Title",
   subtitle = "subtitle.",
   mdfilename = __filename
   ;
   
%>


<div class="html ui top attached segment" id="<%- id -%>-content">
  <%- menu -%>/<%- id -%>
</div>


