<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= meta.APPLICATION_TITLE %></title>


<!-- Semantic-UI  -->
<link href="<%- meta.VENDORS_PATH %>/semantic-ui/semantic.css" rel="stylesheet">

<!-- @fortawesome/fontawesome-free -->
<link rel="stylesheet" href="<%- meta.VENDORS_PATH %>/fontawesome-free/css/all.min.css" />


<!-- Application Specific CSS -->
<link href="<%- meta.CSS_PATH %>/custom.css" rel="stylesheet">

